body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

header {
    background-color: var(--dis-orange);
    width: 100%;
    background-size: cover;
    padding: 0;
    position: fixed
}

.banner {

    display: flex;
    justify-content: space-around;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  

}

.nav-top {
    font-size: 12px;
    color: var(--dis-white);
    font-weight: bold;
    display: flex;
    gap: 10px;
    padding-top: 0.3rem;
}

.nav-top a {
    text-decoration: none;
    color: var(--dis-white);
}

.nav-top a:hover {
    color: lightgray;
}

:root {
    --dis-white: #ffffff;
    --dis-dark: #1a1a1a;
    --dis-red: #ff0000;
    --dis-green: #008000;
    --dis-orange: #ff6900;
}

.logo {
    width: 100px;
    height: auto;
}

.icons {
  display: flex;
  align-items: center;
  gap: 10px; 
  height: auto;
  color: var(--dis-white);
}


.card {
  width: 280px;
  font-family: Arial, sans-serif;
  border: 1px solid #ddd;
  background: #fff;
  overflow: hidden;
}


.card-image {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}


.card-image img {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

.img-hover {
  opacity: 0;
}

.card-image:hover .img-hover {
  opacity: 1;
}
.card-image:hover .img-default {
  opacity: 0;
}

.card-heart {
  position: absolute;
  top: 10px;
  right: 10px;
  background: white;
  padding: 5px 8px;
  font-size: 18px;
  cursor: pointer;
}


.card-labels {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  gap: 5px;
}

.label {
  padding: 4px 6px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  border-radius: 3px;
}

.label.red {
  background: red;
}

.label.green {
  background: green;
}

.card-info {
  padding: 10px;
}

.brand {
  font-size: 13px;
  color: #666;
}

.title {
  font-size: 15px;
  font-weight: bold;
  margin: 5px 0;
}

.price {
  font-size: 14px;
}

.new-price {
  color: red;
  font-weight: bold;
  margin-right: 10px;
}

.old-price {
  text-decoration: line-through;
  color: #888;
}
.container-main {
    padding-top: 5rem;
    pa

}



